@images: "../../../../assets/images";

/*------------- Navigation -------------*/

.navbar {
  position: fixed;
  z-index: 1040;
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
  transition: background-color 0.5s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  a {
    cursor: pointer;
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
    &.navbar-brand {
      font-size: 1.9rem;
      padding-top: 0;
      padding-bottom: 0;
      text-transform: uppercase;
      transition: all 0.5s;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
  .navbar-nav a:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
  &.transparent {
    position: absolute;
    background: transparents;
    @media (max-width: 767px) {
      background: #000;
      min-height: 50px;
    }
    a {
      color: white;
    }
    .navbar-nav a:hover {
      background-color: rgba(255, 255, 255, 0.06);
    }
    .hr {
      background-color: #ecf0f1 !important;
    }
  }
  .hamburger {
    transform: scale(0.5);
    border: none;
    .hr {
      width: 50px;
      height: 5px;
      background-color: #343a40;
      border-radius: 15px;
      display: block;
      margin: 8px auto;
      transition: all 0.3s ease-in-out;
    }
    &[aria-expanded="true"] .hr {
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
      }
      &:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
      }
    }
  }
}



@media (max-width: 530px) {
  .navbar a.navbar-brand {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  .navbar .navbar-nav a.active {
    color: rgba(0, 0, 0, 0.9) !important;
  }
}

@media (max-width: 767px) {
  .navbar.transparent {
    position: fixed;
  }
}
