<section class="advantages">
  <div class="container-fluid">
    <div class="row section-header">
      <h1>Підприємство «Елемонт»:</h1>
    </div>
    <div class="row advantages-wrapper">
      <div class="col-sm advantage advantage-1">
        <fa name="chart-line"></fa>
        <h3>Якість</h3>
        <p>Обладнання перевіряється на відповідність технічних характеристик, щоб гарантувати надійну і довготривалу роботу.</p>
      </div>
      <div class="col-sm advantage advantage-2">
        <fa name="atom"></fa>
        <h3>Унікальність</h3>
        <p>Розробка проекту відбувається індивідуально під кожне замовлення з метою створення максимально ефективних систем.</p>
      </div>
      <div class="w-100"></div>
      <div class="col-sm advantage advantage-3">
        <fa name="clock"></fa>
        <h3>Надійність</h3>
        <p>Монтаж виконується високоякісними матеріалами, завдяки чому обладнання служить тривалий час.</p>
      </div>
      <div class="col-sm advantage advantage-4">
        <fa name="users-cog"></fa>
        <h3>Підтримка</h3>
        <p>Підприємство здійснює технічне обслуговування, оновлення ПЗ та обладнання протягом всього терміну експлуатації.</p>
      </div>
    </div>
  </div>
</section>
