<section class="contacts">
  <div class="container">
    <div class="row">
      <div class="col-md-5 company">
        <span class="company-label">ЕЛЕМОНТ</span>
      </div>
      <div class="col-md contact-info">
        <h5>Офіс в Україні</h5>
        <div class="contact">
          <div class="contact-text">
            <fa name="map-marker-alt"></fa> бул. Шевченка, 205,<br> м.Черкаси, Україна
          </div>
          <div class="contact-text email" (click)="scroller.scrollTo('.feedback')">
            <fa name="envelope"></fa> info@elemont.com.ua
          </div>
          <div class="contact-text phone">
            <fa name="phone"></fa> +380673676396
          </div>
        </div>
      </div>
    </div>
  </div>
</section>