<section class="contacts">
  <div class="container">
    <div class="row text-center section-header">
      <h2>Зв'язок з нами:</h2>
    </div>
    <div class="row justify-content-center">
      <div class="anim col-md contact contact-phone">
        <span class="contact-ico fas fa-phone"></span>
        <span class="contact-text">
          +38 (067) 3676396
        </span>
      </div>
      <div class="anim col-md contact contact-email">
        <span class="contact-ico far fa-envelope"></span>
        <span class="contact-text">
          ele-mont@ukr.net
        </span>
      </div>
      <div class="anim col-md contact contact-location">
        <span class="contact-ico fas fa-map-marker-alt"></span>
        <span class="contact-text">
          бул. Шевченка, 205, м.Черкаси
        </span>
      </div>
    </div>
  </div>
</section>
