@images: "../../../../assets/images";

.head {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('@{images}/header.jpg') center top / cover fixed no-repeat;

  &-title {
    display: block;
    color: #f8f9fa;
    text-shadow: 0 6px 28px rgba(0, 0, 0, 0.49);
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 300;
    font-size: 13rem;

    @media (max-width: 1920px) {
      font-size: 12rem;
    }
    @media (max-width: 1366px) {
      font-size: 8rem;
    }
    @media (max-width: 830px) {
      font-size: 6rem;
    }
    @media (max-width: 650px) {
      font-size: 5rem;
    }
    @media (max-width: 530px) {
      font-size: 4rem;
    }
    @media (max-width: 380px) {
      font-size: 3rem;
    }
  }

  .go {
    color: whitesmoke;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.29);
    width: 50px;
    height: 50px;
    cursor: pointer;

    &:hover {
      font-size: 20px;
    }
  }
}

@media (max-width: 530px) {
  .head {
    height: 40vh;
    margin-top: 55px;
  }
}

@media (max-width: 530px) {
  .head .go {
    display: none;
  }
}
