<section class="about">
  <div class="container">
    <div class="row">
      <p class="about-text">
        Компанія «Елемонт» створена спеціалістами, що працюють в області систем безпеки та електронного обладнання понад 20 років.
        Ми розробляємо та втілюємо технічні рішення різного рівня складності для підприємств та приватних осіб. На нашому
        рахунку сотні захищених об'єктів. За невеликий час ми встигли заробити репутацію надійного партнера. Пропонуємо великий
        асортимент обладнання, враховуючи потреби замовника.
      </p>
    </div>
  </div>
</section>

<section class="achievments">
  <div class="container">
    <div class="row no-gutters justify-content-center align-items-center">
      <div class="col-md achievment achievment-1">
        <div class="row no-gutters">
          <div class="col-4 v-align text-right">
            <span class="counter">700</span>
          </div>
          <div class="col-8 description">
            <span class="ico fas fa-shield-alt"></span>
            <div class="achievment-text">
              периметрів під охороною.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md achievment achievment-2">
        <div class="row no-gutters">
          <div class="col-4 v-align text-right">
            <span class="counter">45</span>
          </div>
          <div class="col-8 description">
            <span class="ico fas fa-car"></span>
            <div class="achievment-text">
              населених пунктів відвідано.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md achievment achievment-3">
        <div class="row no-gutters">
          <div class="col-4 v-align text-right">
            <span class="counter">120</span>
          </div>
          <div class="col-8 description">
            <span class="ico far fa-hand-paper"></span>
            <div class="achievment-text">
              злочинів попереджено.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>