<section class="partners">
  <div class="container">
    <div class="row section-header text-center">
      <h2>Наші партнери</h2>
    </div>
    <div class="row justify-content-center partners">
      <div class="col-sm partner">
        <a class="partner-1"></a>
      </div>
      <div class="col-sm partner">
        <a class="partner-2"></a>
      </div>
      <div class="w-100"></div>
      <div class="col-sm partner">
        <a class="partner-3"></a>
      </div>
      <div class="col-sm partner">
        <a class="partner-4"></a>
      </div>
    </div>
  </div>
</section>